/*
 * CT60A2410 Olio-ohjelmointi 
 * Harjoitustyö
 * Jenna Ritvanen 0437731, Arna Hyvärinen 0437621
 *
 * Stylesheet for the view of the program
 */

.root {
     -fx-background-color: #fdd08c // background color
}
.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#title-text {
   -fx-font-size: 26px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #0a1bfd;
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#subtitle-text {
   -fx-font-size: 24px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #0a1bfd;
}

#subsubtitle-text {
   -fx-font-size: 16px;
   -fx-font-family: "Arial Black";
   -fx-text-fill: #1421cc;
}
.button {
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#f5f5f5, #f2a226);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#f2a226, #f5f5f5);
}
#doge-button {
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#f5f5f5, blue);
    -fx-graphic: url(./Doge.jpg);
    -fx-content-display: graphic-only;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.combo-box {
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#f5f5f5, #ff8c00);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.combo-box:showing {
    -fx-background-color: linear-gradient(#ff8c00, #f5f5f5);
}

.check-box {
    -fx-text-fill: #ff8c00;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

.check-box *.box {
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-background-color:  linear-gradient(#fdf0d9, #f5f5f5);
}

.check-box:selected *.mark {
    -fx-background-color: #2a4ae5;
    -fx-shape: "M0,4H2L3,6L6,0H8L4,8H2Z";
}

.radio-button {
    -fx-text-fill: #ff8c00;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
}

.radio-button *.radio {
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-background-color:  linear-gradient(#fdf0d9, #f5f5f5);
}

.radio-button *.dot {
  -fx-mark-highlight-color: #2a4ae5 ;
  -fx-mark-color: blue ;
}

.text-field {
    -fx-text-fill: #333333;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color:  linear-gradient(#fdf0d9, #f5f5f5);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    
}

.table-row-cell {
    -fx-background-color: #a3adff;
    -fx-font-family: "Arial Narrow";
}
.table-row {
    -fx-background-color: #a3adff;
    -fx-font-family: "Arial Narrow";
}
.table-view .column-header {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-colo:r blue;
    -fx-font-family: "Arial Black";
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #374fff;
    -fx-font-family: "Arial Black";
}